.cont {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.array {
    
    background-color: white;
    display: inline-block;
    margin: 0 0.15vw;
}

.green {
    background-color: green;
}

body {
    background-color: black;
}

button {
    background-color: rgb(55,181,255);
    padding-left: 2vmin;
    padding-right: 2vmin;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    margin-left: 10vmin;
    margin-right: 10vmin;
    height: 6vmin;
    width: 10vmin;
    border-radius: 1vmin;
    color: white;
    font-family: Alegreya sans;
    font-size: 1.5vmin;

}

.navbar {
    height: 7vmin;
    width: 100vw;
    background-color: rgb(55,181,255);
    text-align: center;
    top: 0;
}

.back-btn {
    top: 1.5vmin;
    left: 1.5vmin;
    font-size: 2vmin;
}

@font-face {
    font-family: League Spartan;
    src: url("../fonts/LeagueSpartan-Bold.otf");
 }
  
@font-face {
    font-family: Alegreya Sans;
    src: url("../fonts/AlegreyaSans-Regular.ttf");
}